/* body contains the visible page content */

.body {
	background-color: white;
	background-image: url(images/Background.png); 
}

/* page header is the header bar above the navigation bar */

.page-header {
    background-color: #F87371;
    color: white;
    padding: 30px;
    width: 1240px;
    margin: 0 auto;
    margin-top: 30px;
}

/* h1 is the header for the main body paragraph/s */

h1 { 
font-family: 'Courier New', monospace;
font-style: normal;
font-weight: 400;
margin: 0;
font-size: 60px;
}

h2 { 
font-family: 'Courier New', monospace;
font-style: normal;
margin: 0;
}

h6 {
font-family: 'Courier New', monospace;
font-style: normal;
margin: 0;
}

/* page content is the main body paragraph/s */

.page-content {
    background-color: #F87371;
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
	font-family: 'Courier New', monospace;
	

    color: white;
    font-size: 18px;
    line-height: 130%;
	text-align: left;
}

/* menubar is the colour of the navigation bar */

.menuBar {
    background: #FBB9B8;
	width: 1300px;
	margin: 0 auto;
}

/* menubar a is for the navigation bar buttons */

.menuBar a {
    background-color: #FBB9B8;
    border-color: #00DD00;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
	text-decoration: none;
	color: white;
	font-family: 'Courier New', monospace;
}

/* menubar a: hover makes the buttons change colour when the mouse hovers over them */

.menuBar a:hover {
    background-color: white;
    color: #FBB9B8;
}
